[*.cs]

# CS8625: Ein NULL-Literal kann nicht in einen Non-Nullable-Verweistyp konvertiert werden.
dotnet_diagnostic.CS8625.severity = silent

# CS8618: Ein Non-Nullable-Feld muss beim Beenden des Konstruktors einen Wert ungleich NULL enthalten. Erwägen Sie die Deklaration als Nullable.
dotnet_diagnostic.CS8618.severity = none

# CS8604: Mögliches Nullverweisargument.
dotnet_diagnostic.CS8604.severity = none

# CS8603: Mögliche Nullverweisrückgabe.
dotnet_diagnostic.CS8603.severity = none

# CS8602: Dereferenzierung eines möglichen Nullverweises.
dotnet_diagnostic.CS8602.severity = none

# CS8600: Das NULL-Literal oder ein möglicher NULL-Wert wird in einen Non-Nullable-Typ konvertiert.
dotnet_diagnostic.CS8600.severity = none
